@font-face {
  font-family: "Norse";
  src: url(assets/norse-bold.otf);
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

html {
  color-scheme: light dark;
}

body {
  display: flex;
  flex-direction: row-reverse;
  min-height: 100dvh;
  font-family: system-ui, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

.banner {
  display: flex;
  flex-direction: column;
  background-color: black;
  background-image: url(assets/green-leaf-plant-in-close-up-photography.avif);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  color: white;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  background-color: rgba(0, 0, 0, 0.432);
  padding: 0.65em 0;
  font-family: "Norse";
}

.logo__img {
  width: 20%;
}

.banner p {
  margin-top: auto;
  padding: 0.5rem;
}

.banner a {
  color: inherit;
  text-underline-offset: 0.1rem;
}
