/*
  CSS DIRECTORY
    1. =GLOBAL
    2. =MAIN
    3. =SIDE BANNER
*/

/* ===GLOBAL=== */

@font-face {
  font-family: "Norse";
  src: url(assets/norse-bold.otf);
  font-weight: 400;
}

:root {
  --color-bg: hsl(from var(--color-fg) h s calc(l - 2));
  --color-fg: hsl(0 0 100);
  --color-text: hsl(0 0 8);
  --color-text-transparent: hsl(from var(--color-text) h s l / 60%);
  --color-border: hsl(from var(--color-text) h s l / 15%);
  --color-accent: hsl(92 20 35);
  --color-focus: hsl(224 69 54);
  --color-invalid: hsl(0 64 45);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

html {
  color-scheme: light dark;
}

body {
  display: grid;
  grid-template-columns: 1fr 2.75fr;
  min-height: 100dvh;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: system-ui, sans-serif;
}

/* --Media-- */

img {
  display: block;
  max-width: 100%;
}

/* --Forms-- */

button,
input {
  font: inherit;
}

button {
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  padding: 0.75rem 2.5rem;
  background-color: var(--color-accent);
  box-shadow: 0px 5px 7px var(--color-border);
  color: var(--color-fg);
  font-weight: 600;
}

input {
  width: 30ch;
  border: 1px solid var(--color-border);
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  background-color: var(--color-fg);
}

input:focus {
  outline: transparent;
  border-color: var(--color-focus);
  box-shadow: 0 2px 5px var(--color-border);
}

input:invalid {
  border-color: var(--color-invalid);
}

label {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.0675rem;
}

/* --Links-- */

a {
  color: var(--color-accent);
}

/* ===MAIN=== */

main {
  order: 1;
}

p {
  margin-bottom: 1rem;
}

.introduction {
  margin: 3rem 2.5rem;
  max-width: 53ch;
  font-size: 1.625rem;
  font-weight: 600;
}

/* --Signup Inputs-- */

section {
  padding: 0.75rem 2rem;
  background-color: var(--color-fg);
  box-shadow: 0px 5px 7px var(--color-border);
}

h2 {
  font-weight: 600;
  font-size: 1.625rem;
  margin-bottom: 1.25rem;
}

.wrap {
  display: flex;
  gap: 3rem;
  margin-bottom: 1rem;
}

.flex-input {
  display: flex;
  flex-direction: column;
  gap: 0.175rem;
}

.sign-up {
  margin: 2rem 2.5rem;
}

/* ===SIDE BANNER=== */

.banner {
  display: flex;
  flex-direction: column;
  background-color: var(--color-text);
  background-image: url(assets/green-leaf-plant-in-close-up-photography.avif);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  color: var(--color-fg);
  text-align: center;
}

/* --Logo-- */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  padding: 0.75rem 0;
  background-color: var(--color-text-transparent);
  backdrop-filter: blur(1px);
  font-family: "Norse";
  font-size: 2.75rem;
}

.logo__img {
  width: 18%;
}

.logo__title {
  margin-left: 0.25rem;
}

/* --Attribution link-- */

.banner p {
  margin-top: auto;
  padding: 0.5rem;
  font-size: 0.875rem;
}

.banner a {
  color: inherit;
  text-underline-offset: 0.1rem;
}
