@font-face {
  font-family: "Norse";
  src: url(assets/norse-bold.otf);
  font-weight: 400;
}

:root {
  --color-bg: hsl(from var(--color-fg) h s calc(l - 2));
  --color-fg: hsl(0 0 100);
  --color-text: hsl(0 0 5);
  --color-text-muted: from(var(--color-text) h s calc(l + 25));
  --color-border: from(var(--color-text) h s l / 95%);
  --color-accent: hsl(92, 20, 35);
  --color-focus: hsl(224, 69, 54);
  --color-invalid: hsl(0, 64, 45);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

html {
  color-scheme: light dark;
}

body {
  display: grid;
  grid-template-columns: 1fr 2.75fr;
  min-height: 100dvh;
  background-color: var(--color-bg);
  font-family: system-ui, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

main {
  order: 1;
}

.banner {
  display: flex;
  flex-direction: column;
  background-color: black;
  background-image: url(assets/green-leaf-plant-in-close-up-photography.avif);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  color: white;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  padding: 0.75rem 0;
  background-color: hsl(0 0 0 / 50%);
  backdrop-filter: blur(1px);
  font-family: "Norse";
  font-size: 2.75rem;
}

.logo__img {
  width: 18%;
}

.logo__title {
  margin-left: 0.25rem;
}

.banner p {
  margin-top: auto;
  padding: 0.5rem;
  font-size: 0.875rem;
}

.banner a {
  color: inherit;
  text-underline-offset: 0.1rem;
}
