/*
  CSS DIRECTORY
    1. =GLOBAL
    2. =MAIN
    3. =SIDE BANNER
*/

/* ===GLOBAL=== */

@font-face {
  font-family: "Norse";
  src: url(assets/norse-bold.otf);
  font-weight: 400;
}

:root {
  --color-bg: hsl(from var(--color-fg) h s calc(l - 2));
  --color-fg: hsl(0 0 100);
  --color-text: hsl(0 0 8);
  --color-text-transparent: hsl(from var(--color-text) h s l / 50%);
  --color-border: hsl(from var(--color-text) h s l / 95%);
  --color-accent: hsl(92 20 35);
  --color-focus: hsl(224 69 54);
  --color-invalid: hsl(0 64 45);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

html {
  color-scheme: light dark;
}

body {
  display: grid;
  grid-template-columns: 1fr 2.75fr;
  min-height: 100dvh;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: system-ui, sans-serif;
}

/* --Media-- */

img {
  display: block;
  max-width: 100%;
}

/* --Forms-- */

input,
button {
  font: inherit;
}

/* --Links-- */

a {
  color: var(--color-accent);
}

/* ===MAIN=== */

main {
  order: 1;
}

/* ===SIDE BANNER=== */

.banner {
  display: flex;
  flex-direction: column;
  background-color: var(--color-text);
  background-image: url(assets/green-leaf-plant-in-close-up-photography.avif);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  color: var(--color-fg);
  text-align: center;
}

/* --Logo-- */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  padding: 0.75rem 0;
  background-color: var(--color-text-transparent);
  backdrop-filter: blur(1px);
  font-family: "Norse";
  font-size: 2.75rem;
}

.logo__img {
  width: 18%;
}

.logo__title {
  margin-left: 0.25rem;
}

/* --Attribution link-- */

.banner p {
  margin-top: auto;
  padding: 0.5rem;
  font-size: 0.875rem;
}

.banner a {
  color: inherit;
  text-underline-offset: 0.1rem;
}
