*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
}

body {
  min-height: 100dvh;
  font-family: system-ui, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}
